body{
    
    background-color: black;
    color: yellow;
    text-align: center;
    

}
h1{
    font-weight:bold ;
    font-family: 'Courier New', Courier, monospace;

    
}
button{
    background-color: black;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
}
textarea{
    background-color: yellow;
    color: red;

}
select{
    background-color: yellow;
    color: red;
}
#jutt{
    font-size: 90 px;
}


